* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}


body {
    margin: 0;
    background-color: $main_bg_color;
    background-image: url('../src/assets/images/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        background: linear-gradient(90deg, transparent 0%, rgba(16, 65, 46,0.7) 70%);
        height: 100%;
        z-index: -1;
    }
}
input:focus {
    outline: none;
}
/***************** BUTTONS ***************/
.btn{
    border-radius: 22.5px; 
    padding: 12.5px 0;
    border:none;
    text-transform: uppercase;
}

button {
     transition: all 0.3s ease;
    @include btn-text(11px,$white);
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &:active {
        -webkit-box-shadow: inset 1px 1px 10px #333;
        -moz-box-shadow:    inset 1px 1px 10px #333;
        box-shadow:         inset 1px 1px 10px #333;
    }
}
button.sign-up {
    border:2px solid $white;
    background-color: transparent;
    border-radius: 22.5px;
    padding: 10.5px 44.1px;
    transition: all 0.3s ease;
    &:hover {
        background: linear-gradient($gradient);
        color:$black;
    }
}
button.sign-in {
    background: linear-gradient($gradient);
    @include btn-text(11px,$black);
    margin-bottom: 19px;
    border:2px solid transparent;
    transition: all 0.3s ease;
    &:hover {
        background: transparent;
        color:$white;
        border-color:$white;
          transition: all 0.3s ease;
    }
    &:active {
        background-color: $black;
        color:lightGreen
    }
}
button.with {
    background: linear-gradient($gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-image: url('../src/assets/images/border.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    img {
        margin-left: 10px;
    }
    &:hover {
        background: linear-gradient($gradient);
    }
}
/***************** BUTTONS ***************/

span.or {
    color:$white;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: block;
    position: relative;
    margin-bottom: 19px;
    &:before {
        content:'';
        display: block;
        position: relative;
        width: calc(100% - 50% - 18px);
        height: 1px;
        top: 8px;
        background-color: #FFFFFF;
    }
    &:after {
        content:'';
        display: block;
        position: absolute;
        right:0;
        width: calc(100% - 50% - 18px);
        height: 1px;
        top: 8px;
        background-color: #FFFFFF;
    }
}
.reset {
    @include text(16px,400,25px);
    color:$white;
    margin-bottom: 34px;
    display: inline-block;
}
.circle {
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    &.one {
        bottom: -175%;
        left: -50%;
        background: linear-gradient(90deg, transparent 0%, rgba(16, 65, 46, 0.5) 70%);
    }
    &.two {
        top: -120%;
        left: -50%;
        background: linear-gradient(90deg, transparent 0%, rgba(16, 65, 46, 0.2) 70%);
    }
    
}


