@import './vars';
@import './mixins';

.field-wrap{
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    align-items: center;
    padding: 14px 33px;
    border-radius: 4px;
    margin-bottom: 29px;
    input {
        color:$inputTextColor;
        background-color: $white;
        @include text(14px,500,21px);
        width: 100%;
        padding: 12px 10px;
        max-width: 320px;
        border: 1px solid transparent;
        border-radius: 10px;
        &.error {
            border-color:red
        }
       
        &::-webkit-input-placeholder {
            color:$inputTextColor;
            @include text(14px,500,21px);
        }
        &:-moz-placeholder{
            color:$inputTextColor;
            @include text(14px,500,21px);
        }           
        &::-moz-placeholder{
            color:$inputTextColor;
            @include text(14px,500,21px);
        }          
        &:-ms-input-placeholder{
            color:$inputTextColor;
            @include text(14px,500,21px);
        }
        @media (max-width:525px) {
            width: 200px;
        }
    }

}
.form {
    width: 390px;
    text-align: center;

    &__title {
        @include text(32px,500,37px);
        text-transform: capitalize;
        color:$white;
        margin-bottom: 48px;
    }
    .btns-area {
        display: flex;
        flex-direction: column;
        max-width: 251px;
        margin: 0 auto;
    }
    @media (max-width:525px) {
        width: 100%;
    }
}