@import './vars';

@mixin btn-text($size,$color) {
    font-family: $Montserrat;
    font-size: $size;
    color:$color;
    line-height:20px;
    font-weight:bold;
    text-transform: uppercase; 
}
@mixin text($size,$fontWeight,$lineHeight) {
    font-family: $Popins;
    font-weight: $fontWeight;
    font-size: $size;
    line-height: $lineHeight;
}

