// //Colors
$main_bg_color:#150C2D;
$inputTextColor:#142A49;
$white:#FFFFFF;
$black:#000000;
$breakLineColor:#DFDFDF;
$lightGreen:#99EE62;
$lazure:#2CF6A7;
$gradient:118.81deg, $lightGreen 16.91%, $lazure 90.19%;

//Fonts
$Montserrat:'Montserrat', sans-serif;
$Popins:'Poppins', sans-serif;