* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}


@import './assets/scss/_vars';
@import './assets/scss/_typography';
@import './assets/scss/_mixins';
@import './assets/scss/_common';
button {
    outline: none;
    overflow: hidden;
    position: relative;
   &:hover {
       cursor: pointer;
   }
   &::after {
    content: "";
    background: $main_bg_color;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    left:0;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  &:active:after {
    color:$white;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
}

body {
    margin: 0;
    background-color: $main_bg_color;
    background-image: url('../src/assets/images/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
}
